<header>

    <app-sidebar id="nav-sidebar" style="visibility: hidden"></app-sidebar>

    <nav class="nav">
        <ul class="menu-nav">
            <div class="sidebar-burger-button" id="sidebar-burger-button">
                <div class="burger-button" (click)="switchSidebar()" id="burger-button">
                    <svg viewBox="0 0 80 80">
                        <rect width="80" height="18" rx="10"></rect>
                        <rect y="30" width="80" height="18" rx="10"></rect>
                        <rect y="60" width="80" height="18" rx="10"></rect>
                    </svg>
                </div>
            </div>
            <!--     
            <li class="menu-nav__item">
                <a routerLink="/home"  routerLinkActive="active" ariaCurrentWhenActive="page" class="menu-nav__link homebtn title">
                    <p>(a)I CREATE DnD</p> 
                </a>
            </li>  
            -->
            <img (click)="navigateToPage('/')" src="../../assets/img/logo_new.png" class="header_logo">

            <!--<div class="vl"></div>-->
            <!--<p class="logo_text">Generate your Imagination to life!</p>-->
            <div class="logout-account-btns">
                <button class="account-btn" id="accountbtn" (click)="navigateToPage('/account')">Account</button>
                <button class="logout-btn" id="logoutbtn" (click)="logoutUser()">Logout</button>
            </div>
            <button class="register-btn" id="registerbutton" (click)="navigateToPage('/sign-up')">Sign-up or Login</button>
        </ul>
    </nav>

</header>