@import "../../styles.scss";

.nav {
    background-color: $body-color-temp;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    height: 85px;
}

.menu-nav {
    margin: 0;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: row;
    padding: 0 16px;
    border-bottom: 3px solid $body-color-logo;
    align-items: center;
    background:
        url("../../assets/img/header_banner_fin_windmill.png") center top;
    background-size: cover;

}



.title p {
    color: rgb(165, 100, 65);
    font-size: 32px;
    font-family: dnd_fancy;
}

.vl {
    margin-left: 10px;
    border-left: 6px solid $body-color-logo;
    height: 100%;
}

.header_logo {
    width: 235px;
    cursor: pointer;
}

.logo_text {
    font-size: 1.5rem;
    width: 250px;
    margin-left: 15px;
    color: $body-color-logo;
    font-weight: bold;
}

.maintenance_text {
    width: 250px;
    margin-left: 95px;
    color: $body-color-logo;
    font-weight: bold;
    font-size: 1rem;
}

.account-btn {
    @include standardButtonSmall();
    display: none;
}

.logout-btn {
    @include standardButtonSmall();
    display: none;
}
.register-btn {
    @include standardButtonSmall();
}
//TODO: fails to load
@media only screen and (max-width: 630px) {
    .login-btn, .register-btn, .logout-btn, .register-btn, .account-btn {
        display: none;
    }
    .register-btn{
        height: 40px;
        width: 90px;
    }
    .header_logo {
        width: 200px;
        cursor: pointer;
    }
    .menu-nav{
        gap: 2px;
    }
}

.sidebar-burger-button {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    margin: 0;

    .burger-button {
        height: 48px;
        border-radius: 100px;
        border: 1px solid transparent;

        svg {
            padding: 10px;
            fill: $body-color-logo;
        }

        &:hover {
            border: 1px solid #66111b88;
        }

        @media screen and (max-width: $mobile-screen){
            &:hover {
                border: 1px solid transparent;
            }
        }
        
    }
}
