<header>

    <app-sidebar id="nav-sidebar"></app-sidebar>

    <nav class="nav">
        <ul class="menu-nav">
            <div class="sidebar-burger-button">
                <div class="burger-button" (click)="switchSidebar()">
                    <svg viewBox="0 0 100 80" width="40" height="40">
                        <rect width="100" height="20" rx="10"></rect>
                        <rect y="30" width="100" height="20" rx="10"></rect>
                        <rect y="60" width="100" height="20" rx="10"></rect>
                    </svg>
                </div>
            </div>
            <!--     
            <li class="menu-nav__item">
                <a routerLink="/home"  routerLinkActive="active" ariaCurrentWhenActive="page" class="menu-nav__link homebtn title">
                    <p>(a)I CREATE DnD</p> 
                </a>
            </li>  
            -->
            <img (click)="goBackToPage('home')" src="../../assets/img/logo_new.png" class="header_logo">

            <!--<div class="vl"></div>-->
            <!--<p class="logo_text">Generate your Imagination to life!</p>-->
            <button class="login-btn">Sign In</button>
            <button class="register-btn" (click)="goBackToPage('sign-up')">Free Sign Up</button>
        </ul>
    </nav>

</header>