@import "../../styles.scss";

.nav {
    background-color: $body-color-temp;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    height: 85px;
}

.menu-nav {
    margin: 0;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: row;
    padding: 10px;
    border-bottom: 3px solid $body-color-logo;
    align-items: center;
    background:
        url("../../assets/img/header_banner_fin_windmill.png") center top;
    background-size: cover;

    @media only screen and (max-width: $mobile-screen) {
        & {
            background-image: none !important;
        }
    }
}



.title p {
    color: rgb(165, 100, 65);
    font-size: 32px;
    font-family: dnd_fancy;
}

.vl {
    margin-left: 10px;
    border-left: 6px solid $body-color-logo;
    height: 100%;
}

.header_logo {
    width: 300px;
    cursor: pointer;

    @media only screen and (max-width: $smaller-screen) {
        & {
            width: 220px;
        }
    }

}

.logo_text {
    font-size: 1.5rem;
    width: 250px;
    margin-left: 15px;
    color: $body-color-logo;
    font-weight: bold;
}

.maintenance_text {
    width: 250px;
    margin-left: 95px;
    color: $body-color-logo;
    font-weight: bold;
    font-size: 1rem;
}


.login-btn {
    @include standardButtonSmall();
}
.register-btn {
    @include standardButtonSmall();
}
@media only screen and (max-width: 530px) {
    .login-btn, .register-btn {
        display: none;
    }
}

.sidebar-burger-button {

    .burger-button {
        border-radius: 100px;
        margin: 10px;
        padding: 10px;

        svg {
            height: 36px;
            width: 36px;

            rect {
                fill: $body-color-logo;
            }
        }

        &:hover {
            background-color: rgba(128, 128, 128, 0.5);
        }
    }
}
