@import "../../styles.scss";

footer {
    cursor: url("/../../assets/img/n5.cur"), default;

    background-color: $body-color-temp;

    #footer-content {
        
        display: flex;
        justify-content: flex-end;
        padding: 2px 26px 2px 26px;
        background-color: $body-color-temp;
        background:
        url("../../assets/img/footer/footer.png") center top;
        background-size: cover;
        margin: 0;
        position: relative;
        z-index: 20;
        margin-top: 10px;
        li {
            display: inline;
            padding: 0 16px 0 16px;
        }

    }
}