
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="main-window">
    <app-prompt-window pageTitle="Generate your Favorite Towns!"
     promptExtender=", settlement, town, city, dungeons and dragons style, oil painting"
     placeHolder="big harbour town, stone buildings, ships..."></app-prompt-window>
    <!--<app-trigger-window></app-trigger-window>-->
    <app-image-window placeHolderImgPath="../../assets/img/placeholder/town.jpg"></app-image-window>
</div>
