<div class="prompt-window">
    <form class="prompt-form" #props="ngForm" (ngSubmit)="sendToApi(txtprop)">
        <h1>{{pageTitle}}</h1>
        <input type="text" class="prompt-txtbox" placeholder={{placeHolder}} name="prompttxtbox" ngModel #txtprop>
        <button class="prompt-btn" id="prompt-btn">Generate</button>
        <h2 class="register-text" id="register-text">Register for Free and start generating!</h2>
        <button class="register-btn" id="register-btn" (click)="navigateToPage('/sign-up')">Sign-up or Login</button>

    </form>
</div>