<div class="sidebar">
    <div class="sidebar_main">
        <a href="/characters" class="sidebar_btn sidebar_btn_characters">
            <img src="../../assets/img/characters/character_logo_new2.png" class="sidebar_img">
            <p class="sidebar_txt">Characters</p>
        </a>

        <div class="line"></div>

        <a href="/landscapes" class="sidebar_btn sidebar_btn_landscapes">
            <img src="../../assets/img/landscapes/landscape_new.png" class="sidebar_img">
            <p class="sidebar_txt">Landscapes</p>
        </a>

        <div class="line"></div>

        <a href="/towns" class="sidebar_btn sidebar_btn_towns">
            <img src="../../assets/img/towns/town_new.png" class="sidebar_img">
            <p class="sidebar_txt">Towns</p>
        </a>

        <div class="line"></div>

        <a href="/items" class="sidebar_btn sidebar_btn_items">
            <img src="../../assets/img/items/items_new2.png" class="sidebar_img">
            <p class="sidebar_txt">Items</p>
        </a>
    </div>
</div>