@import "../../styles.scss";

.sidebar_main{
    position: fixed;
    margin-top: 100px;
    height: 100%;
    width: 100px;
    overflow-y: scroll;
    background-color: rgba(128, 128, 128, 0.25);
    
}
.sidebar_btn{
    color: $body-color-temp;
    min-height: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-right: 3px solid $body-color-logo;
}

.sidebar_img{
    object-fit: cover;
    width: 100%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}