<div class="sidebar_main">
    <a href="/characters" class="sidebar_btn sidebar_btn_characters">
        <img src="../../assets/img/characters/character_logo_crop_blue.png" class="sidebar_img">
        <p class="sidebar_txt">Characters</p>
    </a>
    <a href="/creatures" class="sidebar_btn sidebar_btn_items">
        <img src="../../assets/img//creatures/dragonhead_crop.png" class="sidebar_img">
        <p class="sidebar_txt">Creatures</p>
    </a>
    <a href="/landscapes" class="sidebar_btn sidebar_btn_landscapes">
        <img src="../../assets/img/landscapes/rolling_hills_crop.png" class="sidebar_img">
        <p class="sidebar_txt">Landscapes</p>
    </a>
    <a href="/towns" class="sidebar_btn sidebar_btn_towns">
        <img src="../../assets/img/towns/town_crop.png" class="sidebar_img">
        <p class="sidebar_txt">Towns</p>
    </a>
    <a href="/items" class="sidebar_btn sidebar_btn_items">
        <img src="../../assets/img/items/magic_sword_crop.png" class="sidebar_img">
        <p class="sidebar_txt">Items</p>
    </a>
</div>
