@import "../../styles.scss";

.hide {
    display: none;
}

.sidebar {
    position: fixed;
    width: 100px;
    height: 100%;
    z-index: 10;
    margin-top: 85px;

    .sidebar_main {
        background-color: #e7e7db33;
        position: fixed;
        height: 100%;
        width: 150px;
        overflow-y: scroll;
        margin: 0;
        border-right: 1px solid $body-color-logo;
        display: initial;

        .line {
            margin: 0 auto;
            border-top: 1px solid gray;
            margin: 10px;
        }

        .sidebar_btn {
            color: $body-color-temp;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 10px;
            border-radius: 20px;
            background-color: #a8a8a0;
            margin: 10px;
            min-width: 80px;

            &:hover {
                background-color: inherit;
            }

            .sidebar_img {
                object-fit: cover;
                border-radius: 20px;
                width: 100%;
                min-width: 20px;
            }

            .sidebar_txt {
                color: $body-color-temp;
                margin: 0;
                text-align: center;
            }
        }
    }

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
        /* make scrollbar transparent */
    }

    @media only screen and (max-width: 690px) {
        & {
            .sidebar_main {
                display: flex;
                flex-direction: row;
                width: 100%;
                border-right: unset;
                height: initial;

                .line {
                    visibility: hidden;
                }
            }
        }
    }

}