@import "../../styles.scss";

.main-window{
    background-color: $body-color-signup;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    display: grid;
    grid-template-columns: 2fr 3fr;
}

.sign-in-txtbox{
    @include textBoxMedium();
}
.sign-up-txtbox{
    @include textBoxMedium();
    background-color: $textbox-color-temp;
}

.image-window{
    grid-column: 1;
    background-image: url("../../assets/img/signup.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
    .text-background{
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 40px;
        background-color: #343434af;
        border-radius: 10px;
    }

    h2{
       font-size: 3.5em; 
       font-weight: bold;
       color: $textbox-color-parchment;
    }

    .sign-up-buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        
    }
    .btn{
        @include standardButtonRed();
        
    }



    .sign-up-form{
        display:flex;
        flex-direction: column;
        
        
    }
    .sign-up-success{
        visibility:hidden;
        font-weight: bold;
        text-align: center;

    }
}

.text-window{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text-background{
        //border: 3px solid #810b0b3c;
        //background-image: url("../../assets/img/module_bg_clean_crop.png");
        background-size: contain;
        background-repeat: no-repeat;
        
        padding-bottom: 3%;
        border-radius: 10px;
    }
    h2{ 
        font-size: 3.5rem; 
        font-weight: bold;
        color: rgb(70, 7, 7);
     }
    .logo{
        height: 200px;
        width: 600px;
        margin: 0 auto;
        position: fixed !important;
        top: 0;
    }

    .sign-up-buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        
    }

    .sign-in-btn{
        @include standardButtonBlue();
    }
    .sign-up-back-btn{
        @include standardButtonRed();
    }

   
} 
.sign-up-form{
    display:flex;
    flex-direction: column;
    align-items: center;

}
.sign-in-form{
    display:flex;
    flex-direction: column;
    align-items: center;

    
}
.sign-in-success{
    visibility:hidden;
    font-weight: bold;

}
.sign-up-label{
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
    
}
.sign-in-label{
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;

}

@media only screen and (max-width: $medium-screen) {
    .main-window{
        background-color: $body-color-signup;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
    
        display: grid;
        grid-template-columns: 1fr;
        overflow-y: auto;
        }
    .image-window{
        padding-top: 30px;
        padding-bottom: 30px;
        h2{ 
            font-size: 1.7rem; 
         }
    }
    .text-window{
        h2{ 
            font-size: 1.7rem; 
         }
         padding-bottom: 30px;
    }
    

@include transparentScrollbar();

    .text-window{
        grid-column: 1;
    }
    .logo{
        display: none;
    }
}