@import "../../styles.scss";

.image-window{

    height: 100%;
    margin-top: 10px;

    border: 5px solid $body-color-logo;
    background-color: $body-color-temp;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    background-image: url("../../assets/img/module_bg_opaque2.png");
    background-position: center;

    .image-window-preview {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content:center;
        
        .prompt-image {
            max-width:600px;
            max-height:600px;
            border-radius: 10px;
            box-shadow: 5px 5px 5px rgb(98, 98, 98);
        }
    }
    .prompt-form{
        margin-bottom: 0;
    }

    .upscale-button-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5px;
        .upscale-btn{
            margin: 0 auto; 
        }
                   

        .upscaleLabel{
            color: $body-color-logo;
            font-weight: bold;
            font-size: 1.2em;
            margin-bottom: 5px;
            margin: 0 auto;            

        }
        .upscale-btn {
            margin-top: 0;
            visibility: hidden;
            @include standardButton();
            width: 150px;
            &:hover {
                background-image: linear-gradient(to right, #ffffff00, rgba(255, 255, 255, 0));
            }
        }
    }
    .download-button-main{
        display: flex;
        justify-content: center;

        .download-btn {
            @include standardButton();
            visibility: hidden;
            width: 100px;
        }
    }


}
@media only screen and (max-width: 700px) {
    .image-window{
        margin-top: 20px;
    }
    .prompt-image {

        max-width:90% !important;
        max-height:90% !important;
    }
}
@media only screen and (max-width: 1200px) {
    .image-window{
        margin-top: 20px;
        margin-top: 20px;
    }
    .prompt-image {
        
        max-width:90% !important;
        max-height:90% !important;
    }
}

