<div class="image-window">
    <form class="prompt-form" #props="ngForm">
        <div class="image-window-preview">
            <!--<img src="../../assets/img/img_template.png" ngModel #imgprop alt="Generated Image" class="prompt-image" id="prompt-image" >-->
            <img src={{placeHolderImgPath}} #imgprop alt="Generated Image" class="prompt-image" id="prompt-image" >
        </div>
        <div class="download-button-main">
            <button class="download-btn" id="download-btn" (click)="downloadImage2(imgprop)">Download</button>
        </div>
        <div class="upscale-button-main">
            <button class="upscale-btn"  id="upscale-btn" (click)="upscaleImage(imgprop)">Upscale x4</button>
            <label class="upscaleLabel" id="upscaleLabel"></label>
        </div>
    </form>
    
    
</div>

