
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="main-window">
    <app-prompt-window class="prompt-window" pageTitle="Generate your Favorite Character!"
     promptExtender=", portrait, full body, ultra detailed, dynamic pose, dungeons and dragons style"
     placeHolder="brown haired warrior, leather armor, female..."></app-prompt-window>
    <!--<app-trigger-window></app-trigger-window>-->
    <app-image-window placeHolderImgPath="../../assets/img/placeholder/character2.jpg"></app-image-window>
</div>
