.main-window{
    margin-top: 1em;
    margin-left: 1em;
    position: fixed;
    top: 80px;
    left: 80px;
    width: 90%;
    height: 85%;
    
    h1{
        top: 200px;
        text-align: center;
        color: red;
    }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  /* e.g. 
      1fr 1fr
      minmax(10px, 1fr) 3fr
      repeat(5, 1fr)
      50px auto 100px 1fr
  */
  grid-template-rows: 1fr 1fr 1fr;
  /* e.g. 
      min-content 1fr min-content
      100px 1fr max-content
  */
  gap: 1em;
}

.break {
    flex-basis: 100%;
    height: 1;
  }
  ::ng-deep app-prompt-window {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  ::ng-deep app-trigger-window {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    
  }
  ::ng-deep app-image-window {
    grid-column: 3 / span 2;
    grid-row: 1 / span 3;
  }

  @media only screen and (max-width: 1300px) {

    .main-window{
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    ::ng-deep app-prompt-window {
      grid-column: 1 / span 4;
      grid-row: 1;
    }
    ::ng-deep app-trigger-window {
      grid-column: 1 / span 4;
      grid-row: 2 ;
      
    }
    ::ng-deep app-image-window {
      grid-column: 1 / span 4;
      grid-row: 3 / span 2 ;
    }
}