$body-color-temp: #e7e7db;

$body-color-1: #383838;
$body-color-2: #2b2b2b;
$body-color-3: #141414;
$text-main-color: #ffff;
$text-secondary-color: #ffff;
$text-color-red: #971927;

$body-color-logo: #971927;
$body-color-logo-darker: #66111b;

@font-face {
    font-family: dnd_fancy;
    src: url("./assets/fonts/Quicksand-VariableFont_wght.ttf");
}

@mixin standardButton() {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: $body-color-logo-darker;
    background-color: #eeeee7;
    border: 2px solid $text-color-red;
    border-radius: 28px;
    transition: 1ms;
    cursor: pointer;
    &:hover {
        background-image: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0));
        border: 2px solid #d72338;
    }
}

@mixin standardButtonSmall() {
    width: 140px;
    height: 30px;
    margin: 0 auto;
    font-size: 12px;
    font-weight: bold;
    color: $body-color-logo-darker;
    background-color: #eeeee7;
    border: 2px solid $text-color-red;
    border-radius: 28px;
    transition: 1ms;
    cursor: pointer;
    &:hover {
        background-image: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0));
    }
}

a:link { 
    text-decoration: none; 
    color: unset;
}

ul { 
    list-style-type: none; 
}

body {
    margin: 0 auto;
    background-color: $body-color-2;
    font-family: dnd_fancy;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1; 
}