.mainWindow{
    position: fixed;
    left: 120px;
    top: 100px;
    width: 94%;
    height: 90%;
    border: 1px solid #ffff;
    
    h1{
        top: 200px;
        text-align: center;
        color: red;
    }
}