@import "../../styles.scss";

.mainWindow{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1440px;
}
.home-title{
    //color: $text-color-red;
    color:white;
    font-size: 3rem;
}
.home-description{
   // color: $text-color-red;
    color:white;
    line-height: 35px;

}
.text-container{
    padding-top:140px;
    width: 100%;
    height: 700px;
    text-align: left;
    background-color: #1b1b1b;
    //border: 3px solid $text-color-red;
    background: 
            url("../../assets/img/home/Dragonfight_deskt_blk3.png") center top;
            background-size: cover;
}



.register-btn {
    @include standardButtonBlue();
    width: 200px;
    height: 50px;
    margin-top: 40px;
}
.text-wrap{
    padding-top: 20px;
    //padding-bottom: 20px;
    //border: 3px solid $text-color-red;
    width: 600px;
    margin-left: 100px;
    border-radius: 30px;
    //background-color: #f8f3e5;
    

}
.card-window {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;

    .card{
        display: flex;
        justify-content: center;
        padding: 40px;
        max-width: 500px;

        .card-img{
            cursor: pointer;
            border-radius: 10px;
            width: 100%;
            box-shadow: 7px 5px 5px rgb(24, 24, 24);

        }

        .card_txt{
            box-shadow: 7px 5px 5px rgb(28, 28, 28);

            cursor: pointer;
            border-radius: 10px;
            text-align: center;
            height: 30px;
            width: 100%;
            padding-top: 10px;
            margin: 0;
            border-bottom: 4px solid $text-color-red;
            font-weight: bold;
            background: 
            url("../../assets/img/category-card-bg.png") center top;
            background-size: cover;
        }
    }
    
}

/*
.sample-window{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;

    .random-image-card{
        display: flex;
        justify-content: center;

        .card-img{  
            border: 0px solid $text-color-red;
            border-radius: 10px;
            width: 350px;
            height: 350px;

            -moz-box-shadow: 3px 3px 3px  rgb(0, 0, 0);
            -webkit-box-shadow: 3px 3px 3px  rgb(7, 7, 7);
            box-shadow: 3px 3px 3px rgb(0, 0, 0);
        }
    }
}
*/

@media only screen and (max-width: $small-screen) {
    
.mainWindow{
    display: flex;
    flex-direction: column;
    padding-top: 92px;
}

.card-window {
    display: flex;
    justify-content: center;

    .card{
        display: flex;
        justify-content: center;
        padding: 40px;
        width: 70%;
        margin: 0 auto;

        .card-img{
            cursor: pointer;
            border-radius: 10px;
            width: 100%;
        }

        .card_txt{
            border-radius: 10px;
            height: 30px;
            width: 100%;
            padding-top: 10px;
            margin: 0;
        }
    }
}
    .text-container{
       
    }
}

@media only screen and (max-width: 690px){
    .mainWindow{
        display: flex;
        padding-top: 92px;

        .card-window {
            display: unset !important;
            
        }
        
    }
}
@media only screen and (max-width: 1000px) {
    .text-container{
        margin-top: 50px ;
        padding-top:200px ;
        height: 600px;
    }
    .text-wrap{
        margin-top: -50px;
        width: 300px ;
        margin-left: 50px ;
    }
    .home-title{
        width: 400px ;
    }
    .home-description{
        width: 400px ;
    }
    .register-btn {
        width: 200px ;
        height: 50px ;
    }
}
@media only screen and (max-width: 800px) {
    .text-container{
        margin-top: 20px !important;
        padding-top:200px !important;
    }
    .text-wrap{
        top: 50px;
        width: 200px !important;
        margin-left: 25px !important;
    }
    .home-title{
        width: 300px !important;
        font-size: 2rem !important;

    }
    .home-description{
        width: 300px !important;
        font-size: 1.25rem !important;

    }
    .register-btn {
        width: 200px !important;
        height: 50px !important;
        margin-top: 60px !important;
    }
}