@import "../../styles.scss";

.main-window{
    cursor: url("/../../assets/img/n5.cur"), default;

    background-color: rgb(230, 221, 211);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow-y: scroll;
    @include transparentScrollbar();

    display: grid;
    grid-template-columns: 2fr 2.5fr;
}

.image-window{
    grid-column: 2;
    background-image: url("../../assets/img/account/account_banner3.png");

}

.text-window{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4{
        margin-top: 0px;
    }
    .logo{
        width: 450px;
        top: 0;
        margin-bottom: 20px;
    }
    .btn{
        @include standardButtonRed();

    }
    .container{
        width: 70%;
        border: 2px solid  rgb(104, 7, 7);
        background-color: rgb(240, 238, 233);
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-items: center;
        
        border-radius: 10px;
        margin-top: 10px;

        .container-label{
            color: rgb(104, 7, 7);
            margin-left: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .paypal-button{
    }

    .pay-pal-success{
        visibility: hidden;
        text-align: center;
        font-weight: bold;
        padding-bottom: 5px;
    }
}
@media only screen and (max-width: 1100px) {
    .main-window{
        grid-template-columns: 1fr;
        overflow-y: scroll;
        @include transparentScrollbar();
    }
    .image-window{
        display: none;
    }
    
    .text-window{
        grid-column: 1;

        .logo{
            width: 350px;
            margin: 0 auto;
        }
    }    

    .container{
        width: 80% !important;
        grid-template-columns: 1fr !important;
        .container-label{
            grid-column: 1;
            margin-top: 0;
            margin-bottom: 0px;;
            text-align: center;
        }
        .userdata{
            grid-column: 1;
            text-align: center;
        }
    }

}

