<div class="main-window">
    <div class="image-window"></div>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="267252698889-ot7op90dnd15ga3hot4uq8bcc0micfkb.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js"></script>


    <div class="text-window">
        <img src="../../assets/img/logo_new.png" class="logo">
        <h1 id="greeting">Hello XXX</h1>
        <h2>Welcome to your Account page</h2>
        <h3>Credits and Billing</h3>
        <h4>Pricing: $5 for 250 generated images or a month of unlimited uses</h4>       
        
    
        <button class="sign-up-back-btn btn" (click)="goBackToPage('home')" >Get back</button>
    </div>
    
</div>