@import "../../styles.scss";

.ticker-window{ 

    background-color: $body-color-temp;
    border: 5px solid $body-color-logo;
    border-radius: 10px;
    height: 100%;
    background-image: url("../../assets/img/module_bg_opaque2.png");
    background-position: center;
}
