<div class="ticker-window">

    <p>How many images should be generated:</p>
      <input type="radio" id="html" name="fav_language" value="HTML">
      <label for="html">1</label><br>
      <input type="radio" id="css" name="fav_language" value="CSS">
      <label for="css">2</label><br>
      <input type="radio" id="javascript" name="fav_language" value="JavaScript">
      <label for="javascript">3</label>

    <div class="ckeckbox-container">
        <input class="checkbox" type="checkbox" id="scales" name="scales" checked>
        <label class="chb_label" for="scales">Scales</label>
      </div>
</div>